@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* GLOBAL Styles */
body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -4px;
  right: 0;
  background-color: black;
  transition: width 0.3s ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.link__hover-effect--white:after {
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  color: #242424;
  text-align: center;
  line-height: 1.25;
}

h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
  position: relative;
  transition: opacity 300ms ease;
}

i:hover {
  opacity: 0.7;
}
li {
  list-style: none;
}
i {
  cursor: pointer;
  display: inline-block;
}

.text--red {
  color: #f32b35;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.container {
  padding: 50px 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

section:nth-child(even) {
  background-color: #f8f8f8f8;
}

.project__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  padding-top: 40px;
  margin: 0 auto;
  width: 100%;
}

/* ABOUT ME NAV BAR Styles */

nav {
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  font-size: 18px;
  margin: 0 12px;
  color: #242424;
  font-weight: 700;
}

.nav__link--anchor-primary {
  background-color: #f32b35;
  padding: 8px 20px;
  border-radius: 50px;
  color: #f9feee;
  transition: all 300ms ease;
}

.nav__link--anchor-primary:hover {
  background-color: #f6656c;
}

.personal__logo {
  font-size: 28px;
  color: #f32b35;
  margin: 0 12px;
  font-weight: bold;
}

.title-point {
  opacity: 0;
  right: 550px;
  top: 40px;
  position: absolute;
  animation: animate-title-point 1.3s ease-in 300ms forwards;
}

.section__title {
  margin-bottom: 20x;
}

/*  ABOUT ME  Styles  */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info {
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-me__picture--mask {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  animation: animate-profile-picture 800ms 200ms backwards;
}

@keyframes animate-profile-picture {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.about-me__picture {
  width: 100%;
  padding-top: 1px;
  object-fit: cover;
}

.about-me__info--title {
  margin-bottom: 8px;
  animation: fade-up 800ms 500ms backwards;
}

.point-left {
  animation: animate-point-left 2s ease-in-out 1.6s;
}

.point-right {
  animation: animate-point-right 2s ease-in-out 1.6s;
}

@keyframes animate-point-left {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(5px);
  }
  20% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(5px);
  }
  40% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes animate-point-right {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(0px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-5px);
  }
  60% {
    transform: translateX(0px);
  }
  70% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(0px);
  }
  90% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0px);
  }
}

.about-me__info--para {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 28px;
  max-width: 550px;
  animation: fade-up 800ms 700ms backwards;
}

/*ABOUT ME LINKS*/

.about-me__links {
  animation: fade-up 800ms 1s backwards;
}

.about-me__link {
  font-size: 30px;
  color: #f32b35;
  padding: 0 16px;
}

.link--img {
  transition: transform 300ms ease;
}

.link--img:hover {
  animation: animate-link-img-rotate 800ms ease-in-out;
}

@keyframes animate-link-img-rotate {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.2) rotate(20deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.2) rotate(-20deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ABOUT ME IMAGE CONTAINER */

.about-me__img--container {
  flex: 1;
  display: flex;
  align-items: center;
}

/* ABOUT ME IMAGE */
.about-me__img {
  width: 100%;
  animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* TECH STACK SECTION */

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.8;
  transform: scale(0.9);
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.language__name {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 400ms ease;
  opacity: 0;
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
  background-color: #f32b35;
  color: #f9feee;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 14px;
  transition: all 400ms ease;
}

/* PROJECTS SECTION */

.project {
  margin-bottom: 130px;
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 800px;
}

.project:last-child {
  margin-bottom: 40px;
}

.project__img {
  width: 100%;
  transition: all 500ms ease;
}
.project__wrapper {
  display: flex;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.project__wrapper:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
}

.project:hover .project__wrapper:before {
  opacity: 0.7;
  transform: translateY(0);
}

.project:hover .project__img {
  transform: scale(1.07);
  filter: blur(4px);
}

.project:hover .project__description {
  opacity: 1;
  transform: translateY(-50%);
}

.project__description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 500ms ease;
}

.project__description--title {
  font-size: 40px;
}

.project__description--para {
  font-size: 18px;
  margin: 16px 0;
}

.project__description--link {
  font-size: 20px;
  margin-right: 16px;
}

.project_description--title,
.project__description--sub-title,
.project__description--para,
.project__description--link {
  color: #f9feee;
  text-align: left;
}

.project__description h3 {
  color: #f9feee;
}

/* FOOTER SECTION */
footer {
  background-color: #393737;
}

.footer__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}
.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo--img {
  width: 90px;
  height: 90px;
}

.footer__logo--popper {
  position: absolute;
  top: 78px;
  right: 50px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  opacity: 0;
  transition: all 400ms ease;
}

.footer__social--list {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__social--link {
  cursor: pointer;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #f9feee;
  margin: 8px 4px;
}

.footer__copyright {
  margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(65px);
  opacity: 1;
}

/* MEDIA QUERIES */
@media (max-width: 768px) {
  nav {
    max-width: 90%;
    height: 68px;
    padding: 12px 12px;
  }

  h1 {
    font-size: 26px;
  }

  .about-me__info--para {
    font-size: 16px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project__description--para {
    font-size: 16px;
  }
  .project__description {
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    padding: 0 30px;
    max-width: 100%;
  }
  .project:hover .project__description {
    transform: translateX(-50%) translateY(-50%);
  }

  .project__wrapper {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 20px 10px;
    margin-right: 10px;
  }

  .nav__link:not(:last-child) {
    display: none;
  }

  .project__description {
    padding: 0;
    left: 50%;
    width: 100%;
  }

  .project__description--para {
    display: none;
  }

  .project__description--links {
    display: flex;
    justify-content: center;
  }

  .project__description--title {
    line-height: 1;
    font-size: 30px;
    text-align: center;
  }

  .project__description--sub-title {
    text-align: center;
    margin: 12px 0;
  }
}
/* END OF STYLES */
